# For reading data and manipulation
pandas>=1.3.0
numpy>=1.21.0

# For plotting (matplotlib), using 'Agg' backend on server
matplotlib>=3.4.0

# For HTTP requests (Alpha Vantage)
requests>=2.25.1

# For downloading stock data
yfinance>=0.1.70

# For reading Excel files (WSB sentiment data)
openpyxl>=3.0.9

# For PyTorch and GPU acceleration (ensure CUDA drivers on server)
torch>=1.13.0

# For PyTorch Lightning (training loops, logging)
pytorch-lightning>=1.9.0

# For PyTorch Forecasting (TFT model)
pytorch-forecasting>=0.10.3
